body {
  background: url('./img/scenery.webp');
  background-attachment: fixed;
  background-size: cover;
  color: white;
  margin: 0;
  font-family: sans-serif;
}

.container {
  padding: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.container #img-head {
  max-width: 500px;
}

.container-cards {
  background-color: rgba(182, 182, 182, 0.37);
  backdrop-filter: blur(5px);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.459);
  padding: 30px;
  width: 85%;
  border-radius: 20px;
  margin: 0 auto;
}

.pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding-inline-start: 0;
}

.card {
  list-style: none;
  padding: 40px;
  color: #222;
  text-align: center;
  border-radius: 20px;
  position: relative;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.459);
}

.card::after {
  content: "";
  display: block;
  width: 50%;
  height: 40%;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  /* opacity: 0.7; */
  position: absolute;
  top: 20%;
  left: 25%;
}

.steel {
  background-color: #f4f4f4;
}

.fire {
  background: linear-gradient(to bottom, #ff0000,#ffa600);
  color: rgb(139, 10, 10);
}

.grass {
  background: linear-gradient(to bottom, rgb(0, 202, 17),#aaffb5);
  color:rgb(0, 109, 9)
}

.electric {
  background: linear-gradient(to bottom, rgb(255, 196, 0),#ffef97);
  color:rgb(146, 123, 19);
}

.water,
.ice {
  background: linear-gradient(to bottom, rgb(2, 200, 235),#a1fff7);
  color:rgb(13, 106, 143);
}

.ground {
  background: linear-gradient(to bottom, rgb(99, 46, 11),#b67f5b);
  color:rgb(61, 28, 5);
}

.rock {
  background: linear-gradient(to bottom, rgb(58, 52, 49),#797776);
  color:rgb(0, 0, 0);
}

.fairy {
  background: linear-gradient(to bottom, rgb(150, 51, 231),#de9ff7);
  color:rgb(60, 3, 124);
}

.poison {
  background: linear-gradient(to bottom, rgb(105, 51, 231),#b79ff7);
  color:rgb(29, 3, 124);
}
.ghost {
  background: linear-gradient(to bottom, rgb(105, 51, 231),#b79ff7);
  color:rgb(29, 3, 124);
}

.bug {
  background: linear-gradient(to bottom, rgb(167, 223, 13),#e2ffbd);
  color:rgb(96, 112, 3);
}

.dragon {
  background: linear-gradient(to bottom, rgb(2, 103, 255),#60daff);
  color:rgb(0, 58, 134);
}

.psychic {
  background: linear-gradient(to bottom, rgb(0, 194, 152),#a1ffe3);
  color:rgb(0, 109, 76);
}

.flying {
  background: linear-gradient(to bottom, rgb(0, 116, 194),#addaff);
  color:rgb(3, 50, 95);
}

.fighting {
  background: linear-gradient(to bottom, rgb(255, 195, 83),#ffedd6);
  color:rgb(87, 53, 2);
}

.normal {
  background: linear-gradient(to bottom, rgb(134, 134, 134),#d4d4d4);
  color:rgb(68, 68, 68);
}

.card:hover {
  animation: bounce 0.5s linear;
}

.card-title {
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 25px;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.card-subtitle {
  margin-top: 15px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: lighter;
  position: relative;
  z-index: 2;
}

.card-image {
  height: 180px;
  position: relative;
  z-index: 2;
}

footer{
  box-sizing: border-box;
  background-color: #35a4ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  padding: 10px 5px;
}

.redes-sociais {
  margin-right: 30px;
  font-size: 30px;
}
.redes-sociais a {
  color: #fff;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }

  40% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0);
  }
}